body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;


}

.background {

    background-image: url(donation55.jpg);
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


}

.add-text {

    text-align: center;
    padding: 200px;
}

.text-format1 {

    font-size: 50px;
    font-weight: 900;
    font-style: normal;
    color: white;
}

.text-format2 {

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: white;
    text-align: center;

}

.link-button {

    text-decoration: none;
    background-image: linear-gradient(green, green);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.donate-today {

    font-weight: 900;
    text-align: center;
    font-size: 35px;
    padding-top: 9%;

}

.format1 {

    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: black;
    text-align: center;
}





.amount {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 5px;

}

.white-shadow {

    background-color: whitesmoke;
    border-radius: 5px;
    margin: 100px;

    padding: 10px 20px;

}

#white-shadow-margin {

    margin-left: 100px;
}

.red-shadow {

    background-color: rgba(255, 215, 215);
    border-radius: 5px;
    margin: 100px;
    padding: 10px 20px;

}

.red-shadow h1 {

    color: rgb(255, 89, 89);
}

.other-amount {

    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
}

.other-amount p {

    font-size: 18px;
    color: gray;
    margin-bottom: 10px;
    margin-right: 150px;
}

hr {

    color: gray;
    width: 390px;
    margin-left: 300px;
    margin-bottom: 50px;
    font-size: 14px;
}

.new-button {

    padding: 10px 40px;
    margin-right: 150px;
}




.donation {

    margin-bottom: 50px;

}

.donation-plan {

    text-align: center;
    margin-top: 100px;

}


.columns {

    display: flex;
    margin: 0;

}

.columns img {

    margin: 25px;
}

.columns h1 {

    font-size: 20px;
    margin-top: 25px;
}

.columns {

    font-size: 16px;
    margin-top: 30px;
}

.first-column {
    background-color: rgb(237, 245, 246);
    height: 300px;
    width: 400px;
    margin: 50px 25px 50px 75px;
    padding: 30px;
}

.second-column {
    background-color: rgb(255, 238, 238);
    height: 300px;
    width: 400px;
    margin: 50px 25px 50px 25px;
    padding: 30px;
}

.third-column {
    height: 300px;
    width: 400px;
    background-color: rgb(255, 244, 214);
    margin: 50px 75px 50px 25px;
    padding: 30px;
}





.waiting {

    display: flex;
    margin-bottom: 150px;
}

.half-width {

    width: 50%;
}

.half-width img {

    width: 78%;
    padding-left: 45px;
    margin-top: 40px;
    margin-left: 20px;
}

.alignment {

    padding: 10px 40px;
    margin-left: 170px;

}

.format-new {


    font-size: 14px;
    text-align: justify;
    margin-left: 35px;
}

.donation-today {

    text-align: center;
    font-weight: 800;
}

.format1 {

    color: gray;
    text-align: center;
    padding: 0px 400px;
    margin-top: 50px;
}





.email {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin-top: 0px;

}

.write-email {
    color: white;
    padding: 100px 150px;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: 5px 5px 5px white;
}

.write-email input {
    font-size: 12px;
    padding: 15px 100px 15px 10px;
    color: gray;
    background-color: rgb(218, 218, 218);
    border: none;
    border-radius: 5px;
    outline: none;
}

.write-email ::placeholder {
    color: gray;
}

.write-email button {
    color: white;
    background-color: tomato;
    font-size: 12px;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
}

.footer {
    color: green;
}

.heading {
    font-size: 35px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.paragraph-footer {
    text-align: center;
    color: rgb(212, 212, 212);

}

.color {
    height: 150px;
    background-color: black;
    padding-top: 20px;
}